:root {
  --background-color: #121212;
  font-family: system-ui, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#balances {
  position: absolute;
  margin: 0.5rem;
  bottom: 0.5rem;
  left: 1rem;
  color: lightgray;
}